:root {
    --topbar-h: 5rem;
    --pad: 1rem;
    --gap: 1rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0;
    padding: 1rem;
}


.layout {
    height: calc(100dvh - var(--topbar-h));
    display: flex;
    gap: var(--gap);
    padding: 0 var(--pad) var(--pad);
    overflow: hidden;
}

.VideoPlayerSide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.RightSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1rem;
}

.colorBox {
    height: 80%;
    aspect-ratio: 1 / 1;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
}

#hexBox {
    height: 90%;
    aspect-ratio: 1 / 1;
    width: auto;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem;

    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.2);

    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.6);
}

#colorName {
    font-size: 1.2rem;
    font-weight: 700;
}


#canvas {
    display: block;
    aspect-ratio: 1 / 1;
}

/* Portrait rules*/
@media (orientation: portrait) {
    .layout {
        flex-direction: column;
    }

    .VideoPlayerSide {
        justify-content: center;
    }

    #canvas {
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    .RightSide {
        align-items: stretch;
        padding: 0;
    }

    .colorBox {
        width: 100%;
        height: auto;
    }

    #hexBox {
        width: 100%;
        height: auto;
    }
}

/* Landscape rules*/

@media (orientation: landscape) {
    .layout {
        flex-direction: row;
    }

    .VideoPlayerSide {
        justify-content: flex-start;
    }

    #canvas {
        height: 100%;
        width: auto;
        max-width: 100%;
    }
}
