:root {
    --topbar-h: 5rem;
    --pad: 1rem;
    --gap: 1rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0;
    padding: 1rem;
}


.layout {
    height: calc(100dvh - var(--topbar-h));
    display: flex;
    gap: var(--gap);
    padding: 0 var(--pad) var(--pad);
    overflow: hidden;
}

.VideoPlayerSide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.infoSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1rem;
}




.colorBox .labels {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
}

#hexBox {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.6);
}

#colorName {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.6);
}
#canvas {
    display: block;
    aspect-ratio: 1 / 1;
}

/* Portrait rules*/

.VideoPlayerSide,
.infoSide {
    min-width: 0;
    min-height: 0;
}

@media (orientation: portrait) {
    .layout {
        flex-direction: column;
        overflow: hidden;
    }

    .infoSide {
        flex: 0 0 45%;
        min-height: 0;
        align-items: stretch;
    }

    #hexBox {
        width: 100%;
        aspect-ratio: 1 / 1;
        height: auto;

        max-height: 60%;
}



@media (orientation: landscape) {
    .layout {
        flex-direction: row;
    }

    .VideoPlayerSide,
    .infoSide {
        flex: 0 0 calc((100% - var(--gap)) / 2);
    }

    #canvas {
        height: 100%;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}


